// imports

// vars

$burgerColor: var(--solid-saas-navbar__burgerColor, #000);
$burgerTransitionTime: var(--solid-saas-navbar__burgerTransitionTime, 0.5s);
$burgerSize: var(--solid-saas-navbar__burgerSize, 16px);
$burgerLineHeight: var(--solid-saas-navbar__burgerLineHeight, 2px);
$burgerPadding: calc((#{$burgerSize} - (#{$burgerLineHeight}) * 3) / 2);

// component

.component {
  :global {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .column {
        display: flex;
        align-items: center;
      }
      .menu {
        display: none;
        justify-content: flex-end;
        align-items: center;
        & > * {
          margin: 0 1em;
        }
      }
      .ctas {
        display: flex;
        align-items: center;
        & > * {
          margin: 0 1em;
        }
      }
      .burger {
        cursor: pointer;
        width: $burgerSize;
        height: $burgerSize;
        position: relative;
        margin-left: 1em;
        .burgerIconContainer {
          position: absolute;
          top: calc(50% - #{$burgerLineHeight/2});
          .icon {
            width: $burgerSize;
            height: $burgerLineHeight;
            background: $burgerColor;
            transition: $burgerTransitionTime;
            &:before {
              top: calc(-1 * $burgerPadding);
            }
            &:after {
              top: $burgerPadding;
            }
            &:before,
            &:after {
              content: "";
              position: absolute;
              width: $burgerSize;
              height: $burgerLineHeight;
              background: $burgerColor;
              transition: $burgerTransitionTime;
            }
          }
        }
        &.open {
          .icon {
            background: transparent;
            &:before {
              top: 0;
              transform: rotate(135deg);
            }
            &:after {
              top: 0;
              transform: rotate(225deg);
            }
          }
        }
      }
    }
  }
}
